---
import { siteConfig } from "@/config";

import type { MarkdownHeading } from "astro";
import Categories from "./Categories.astro";

import Profile from "./Profile.astro";
import Tag from "./Tags.astro";
import TOC from "./TOC.astro"; // 1. 导入 TOC 组件

interface Props {
	class?: string;
	headings?: MarkdownHeading[];
}
const { headings = [] } = Astro.props;
const className = Astro.props.class;
---
<div id="sidebar" class:list={[className, "w-full"]}>
<div class="flex flex-col w-full gap-4 mb-4">
    <Profile></Profile>
</div>
<div id="sidebar-sticky" class="transition-all duration-700 flex flex-col w-full gap-4 top-4 sticky top-4">
    <Categories class="onload-animation" style="animation-delay: 150ms"></Categories>
    <Tag class="onload-animation" style="animation-delay: 200ms"></Tag>
    <!-- 套一个id为toc的容器，让swup可以刷新局部 -->
    <div id="toc">
        <TOC headings={headings}></TOC>
    </div>
</div>
</div>