---
import { commentConfig, siteConfig } from "@/config";

interface Props {
	path: string;
}

const configHue = siteConfig.themeColor.hue; // 获取配置的 hue

const config = {
	...commentConfig.waline,
	el: "#waline",
	path: Astro.props.path,
	dark: "html.dark",
	wordLimit: ["1", "300"],
	reaction: [
		"http://unpkg.com/@waline/emojis@1.2.0/tw-emoji/1f92f.png", //崇拜
		"http://unpkg.com/@waline/emojis@1.2.0/tw-emoji/1f923.png", //欢乐
		"http://unpkg.com/@waline/emojis@1.2.0/tw-emoji/1f9d0.png", //有用
		"http://unpkg.com/@waline/emojis@1.2.0/tw-emoji/1f605.png", //鄙视
		"http://unpkg.com/@waline/emojis@1.2.0/tw-emoji/1f92e.png", //恶心
		"http://unpkg.com/@waline/emojis@1.2.0/tw-emoji/1f92c.png", //愤怒
		"http://unpkg.com/@waline/emojis@1.2.0/tw-emoji/1f634.png", //无聊
	],
	emoji: [
		"//unpkg.com/@waline/emojis@1.2.0/weibo",
		"//unpkg.com/@waline/emojis@1.2.0/bmoji",
		"//unpkg.com/@waline/emojis@1.2.0/tw-emoji",
		"//unpkg.com/@waline/emojis@1.2.0/tieba",
		"//unpkg.com/@waline/emojis@1.2.0/qq",
		"//unpkg.com/@waline/emojis@1.2.0/bilibili",
		"//unpkg.com/@waline/emojis@1.2.0/alus",
		"//unpkg.com/@waline/emojis@1.2.0/soul-emoji",
	],
};
---
<!-- Waline -->
<div class="relative w-full">
  <div id="waline"></div>
  <link rel="stylesheet" href="https://unpkg.com/@waline/client@v3/dist/waline.css" />

  <!-- 定义 CSS 变量，传递 hue 值 -->
  <style define:vars={{ configHue }}>
    #waline {
      --waline-theme-color: oklch(75% 0.33 var(--configHue));
      --waline-active-color: oklch(80% 0.33 var(--configHue));
    }
  </style>
  
  <script type="module" is:inline define:vars={{ config }}>
    import { init } from 'https://unpkg.com/@waline/client@v3/dist/waline.js';
    init(config);
  </script>
</div>